html {
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 3rem;
}

.gridContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	gap: 1rem;

	width: 90%;
	margin: 0 auto;
}

.preload {
	transition: none !important;
}

html {
	visibility: visible;
}